<h1>Editing Tipe Penarikan</h1>

<%= render 'form' %>

<%= link_to 'Show', @tipe_penarikan %> |
<%= link_to 'Back', tipe_penarikans_path %> |
<%= link_to 'New Tipe penarikan', new_tipe_penarikan_path %>

