<h1>Editing Simpanan History</h1>

<%= render 'form' %>

<%= link_to 'Show', @simpanan_history %> |
<%= link_to 'Back', simpanan_histories_path %> |
<%= link_to 'New Simpanan history', new_simpanan_history_path %>
