<h1>Editing Penarikan History</h1>

<%= render 'form' %>

<%= link_to 'Show', @penarikan_history %> |
<%= link_to 'Back', penarikan_histories_path %> |
<%= link_to 'New Penarikan history', new_penarikan_history_path %>
